<html lang="en">
  <head>
    {{> header}}
    <title>Sell your Stuff</title>
  </head>
  <body>
    <h1>Register</h1>
    <div class="container">
    {{> menu}}
        <form action='/register' method='POST'>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" placeholder="Please, Provide a Username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
            {{#message}}
                <div class="alert alert-info" role="alert">
                    {{message}}
                </div>
            {{/message}}
            {{#error}}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
            {{/error}}
    </div>
    {{> footer}}
  </body>
</html>