<html lang="en">
  <head>
    {{> header}}
    <title>Sell your Stuff</title>
  </head>
  <body>
    <h1>Add Product</h1>
    <div class="container">
          {{> menu}}
                     <div style="height: 10px;"></div>
                     <form  action="/products/upload/edit-image/{{id}}" method="POST" enctype="multipart/form-data">
                      <label>Photo</label>
                      <input type="file" name="myFiles" />
                      <button type="submit">Upload</button>
                    </form>

                    <img src="/uploads/{{imageURL}}" class="product-preview-image"/>

                    <form action="/products/edit" method="POST">
                      <div class="form-group">
                        <label>Title</label>
                        <input type="text" name="title" value="{{title}}" class="form-control" placeholder="Enter title">
                      </div>
                        <div class="form-group">
                        <div style="height: 10px;"></div>
                        <label>Description</label>
                        <textarea class="form-control" name="description">{{description}}</textarea>
                        </div>
                        <div style="height: 10px;"></div>
                        <div class="form-group">
                        <label>Price</label>
                        <input type="text" value="{{price}}" name="price" />
                      </div>
                      <br/>
                        <button type="Save" class="btn btn-primary">Save</button>
                       <input type="hidden" name="id" value="{{id}}"/>
                    </form>

              <div class="mb-3">
            
                  {{#message}}
                      <div class="alert alert-info" role="alert">
                          {{message}}
                      </div>
                  {{/message}}
                  {{#error}}
                      <div class="alert alert-danger" role="alert">
                          {{error}}
                      </div>
                  {{/error}}
              </div>
    {{> footer}}
  </body>
</html>